body {
    margin: 0 14px;
    background-color: #e6e6fa;
}

#quote-box {
    margin: 100px auto 0 auto;
    border-radius: 3px;
    max-width: 490px;
}

#tweet-quote {
    padding: 2px 7px;
    border-radius: 5px 5px 0 0;
    background-color: #1b95e0;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}

#tweet-quote:hover {
    text-decoration: none;
    opacity: 0.9;
}

#tweet-quote:focus {
    text-decoration: none;
    outline-style: none;
}

#quote-wrapper {
    border: 1px solid #bdbdbd;
    background-color: #fff;
}

blockquote {
    border: none;
    margin: 0;
    font-size: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
}

blockquote footer::before {
    content: none;
}

#text-anonymous {
    font-style: italic;
}

#new-quote {
    display: block;
    margin: 14px auto 0 auto;
}

#new-quote:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    outline-style: none;
}

#page-footer {
    margin-top: 42px;
}

#page-footer p {
    margin: 0;
}